@font-face {
    font-family: "Darlingtion";
    src: url(./DarlingtonDemo-z8xjG.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
    background-image: url(./aishot-1533.jpg);
    background-size: cover;
    background-position: center;
}

.title {
    font-family: "Darlingtion", cursive;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 156px;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 4px;
    word-spacing: 50px;
    letter-spacing: 5px;
}

button {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 20px 60px;
    font-size: 24px;
    background-color: transparent;
    border: 2px solid #C58A90;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 4px #000;
    font-weight: 800;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    backdrop-filter: blur(30px);
    letter-spacing: 0.5px;
}

.info2 {
    width: 60%;
    position: absolute ;
    top: 82%;
    left: 10%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p{
    backdrop-filter: blur(2px) brightness(130%);
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 10px;
}